*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 375px;
    position: absolute;
    left: 37%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}
header .logo{
    font-size: 18px;
    font-weight: 700;
    color: #6070FF;
    padding-left: 12px;
}
header img{
    margin-right: 24px;
}

.headline-section{
    background-image: url(./imgs/header-shapes\ mobile@2x.svg);
    height: 594px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-bottom-left-radius: 90px;
}
.heading{
    width: 327px;
    font-size: 40px;
    font-weight: 700;
    color: #172B4D;
    margin-top: 100px;
    line-height: 52px;
} 
.text-content{
    font-size: 16px;
    font-weight: 400;
    color: #344563;
    width: 327px;
    line-height: 24px;
}
.connect-btn{
    font-size: 16px;
    font-weight: 500;
    color: #7F8CFF;
    text-transform: uppercase;
    align-self: flex-start;
    margin-left: 23px;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    width: 171px;
    align-self: flex-start;
    margin-left: 23px;
}